secrets
tmp/
proto/gen/

# Frontend build output
prod/
# sqlite files
backend/*.db
backend/*.db-shm
backend/*.db-wal
# backend built binary
backend/backend
backend/localdata
backend/localtestdata

# IDEs
.vscode/